{
  "parser": "espree",
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "globals": {
    "gsap": "readonly",
    "ScrollTrigger": "readonly",
    "CustomEase": "readonly",
    "SplitText": "readonly",
    "DrawSVGPlugin": "readonly",
    "InertiaPlugin": "readonly",
    "barba": "readonly",
    "$": "readonly",
    "Webflow": "readonly",
    "Lenis": "readonly"
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["import", "sort-imports-es6-autofix"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          ["index", "internal", "sibling", "parent"]
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-inner-declarations": "off"
  }
}
