@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

:root {
  --vh-in-px: 1vh;
  --transition-ease: cubic-bezier(0.9, 0, 0.1, 1);
  --transition-speed: 0.6s;
  --transition-speed-slow: 0.8s;
}

.wf-design-mode {
  --100vh: 100vh;
  --vh: 1vh;
  --vh-in-px: 1vh;
}

[data-animated-copy] [class^='line-'],
.line-clip {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

[data-animated-copy] [class^='line-inner-'] {
  position: relative;
  display: block;
  will-change: transform;
}

.split-parent,
.line {
  overflow: hidden;
  margin-top: -0.04em;
}
.split-child,
.line {
  will-change: transform;
  padding-bottom: 0.04em;
}
